*{
  box-sizing: border-box;
  
}
.MyApp{
  background-color: whitesmoke;
  font-family: Perpeuta;
}

.custom-ml-auto{
  margin-left: auto;
  margin-right: 25px;
}
.bg-color{
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo:hover {
  animation: shake 0.5s; 
  color: white;
  font-weight: bolder;
}

.greetings-text {
  font-size: 55px;
  font-weight: 900;
  animation: bounceColorChange 4s infinite;
}

.my-image {
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.my-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%; 
}
.grayscale-image {
  filter: grayscale(70%); /* Apply grayscale filter to make the image black and white */
}
.shadow-on-hover:hover {
  filter: grayscale(20%); /* Adjust the grayscale intensity on hover */
 
}

@keyframes bounceColorChange {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    color: #e5e5e5; 
  }
  40% {
    transform: translateY(-20px);
    color: #ff6600; 
  }
  60% {
    transform: translateY(-10px);
    color: #42a5f5; 
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.ml-auto{
  gap: 10px;
}

.text-about h1{
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 426px) {
  .text-about h5{
    text-align: center;
  }
  .my-image{
    display: none;
  }
  
  .project1-text{
    margin: 15px;

  }
  .img-pr2{
    margin: 15px;
  }
}
.text-about h5{
  font-size: 22px;
  letter-spacing: 1.5px;
}
.text-about span{
  color: #ff6600;
  font-weight: bold;
}
.explore-text , .connect-text{
  font-weight: 700;
  text-decoration: underline;
}
.info-text h5{
  letter-spacing: 1px;
  font-size: 23px;
}

.achievements {
  animation: neonColorChange 2.3s ease-in-out infinite;
  font-weight: bold; 
  color: #000; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

@keyframes neonColorChange {
  0% {
    transform: scale(1);
    color: lightslategray 
  }
  50% {
    transform: scale(1.05);
    color: #90ea81; 
  }
  100% {
    transform: scale(1);
   color: #147eff;
  }
}

.custom-card {
  
 padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 35px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card:hover {
  transform: scale(1.01);
  box-shadow: -5px 3px 5px rgba(121, 121, 121, 0.473), 5px -3px 5px rgba(205, 192, 243, 0.859);

}

.custom-slider {
  margin: 20px ;
  padding: 20px 0;
}

.custom-card {
  width: 150px; 
  margin: 20px 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-caption {
  text-align: center;
  margin-top: 5px;
}

.custom-modal-image {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}



.project1-text {
  background: linear-gradient(45deg, whitesmoke, lightgray); /* Adjust the background colors */
  border-radius: 10px;
  padding: 50px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

.project1-text:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, lightgray, whitesmoke); /* Adjust the hover background colors */
}

.project1-text h1, .project1-text h2 {
  color: #333; /* Change the font color */
  font-size: 24px;
  font-weight: bold;
}

.heading-text {
  color: rgb(87, 87, 87);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.heading-text:hover {
  text-decoration: underline;
}

.project1-text h2 {
  margin-top: 10px;
}

.project1-text a {
  color: #333; 
  font-size: 18px;
  margin-top: 15px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .project1-text{
    text-align: center;
    padding: 20px;
    height: 250px; 
  }
  .my-image{
    display: none;
  }
  .heading-text{
    margin-top: 20px;
  }
  .last-img img{
    margin-top: 40px;
  }
}


.icon-text{
letter-spacing: 1.5px;
}


.section-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.section2 {
  margin: 20px;
  border-radius: 20px 0px 20px 0px;
  border: 2.2px solid #a9a4a4;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.contact-card-icon {
  margin: 10px;
  margin-left: 90px;
  background-color: #f39c12;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  height: 70px;
  width: 70px;
  margin-bottom: 15px;
  line-height: 70px; 
  box-shadow: 0 0 10px rgba(243, 156, 18, 0.5);
}

.contact-card-info {
  margin-bottom: 15px;
}

.label {
  font-size: 19.3px;
  font-weight: bold;
  color: #333;
}

.value {
  font-size: 21px;
  color: #555;
  text-decoration: underline;
}

.value:hover {
  transform: scale3d(1.1, 1.1, 1); /* Adjust the scale values for a smooth transform */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.footer-text {
  height: 10vh;
  text-align: center;
  margin-top: 25px;
  padding-top: 20px;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes highlightAnimation {
  0% {
    color: #333; /* Initial color */
  }
  50% {
    color: #e44d26; /* Highlight color */
    transform: scale(1.1);
  }
  100% {
    color: #333; /* Return to the initial color */
    transform: scale(1);
  }
}

.footer-text {
  text-align: center;
  margin-top: 20px;
}

h3 span {
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 10px 0;
}

.copyright-text{
  display: inline-block;

}

.highlight {
  animation: highlightAnimation 2s infinite; /* Apply the animation */
}

.social-icons {
  margin-top: 30px;
}

.social-icon {
  font-size: 55px;
  margin-right: 25px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.instagram:hover {
  color: #e4405f;
}

.linkedin:hover {
  color: #0077b5;
}

.facebook:hover {
  color: #1877f2;
}


.icon-cell {
  font-size: 24px;
  padding-right: 10px;
}


.download-button {
  letter-spacing: 1.1px;
  background-color: #333; 
  color: #fff; 
  width: 210px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.download-button:hover {
  background-color: #087a16; 
}
